html {
    scroll-behavior: smooth;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    font-weight: bold;
    font-style: normal;
    background-image: linear-gradient(to bottom, #0a1278, #2b35b7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    text-align: center;
}

body {
    text-align: center;
    width: clamp(100px, 1400px, 3000px);
    margin: 0 auto;
    padding: 0 200px 30px 200px;
    color: #fff;
    position: relative;
}

.love {
    text-align: center;
    margin-top: 50px;
    padding: 0 200px 30px 200px;
    color: #fff;
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 100px;
    text-align: center;
    color: pink;
}

.kapisun {
    text-align: center;
    position: center;
    display: block;
    margin: 0 auto;
    max-width: 30%;
    border-radius: 25px;
    border: solid 5px #ffbff4;
    border-style: solid;
    border-width: 5px;
    box-shadow:
    0 0 20px 5px rgb(255, 121, 166),
    /* 0 0 40px 10px white, */
    0 0 80px 20px #ff00de;
}

.shailushai_star {
    position: absolute;
    top: -15px;
    left: 0px;
    display: block;
    margin: 0 auto;
    max-width: 15%
}

.purple_1star {
    position: absolute;
    top: -10px;
    right: -10px;
    rotate: -20deg;
    max-width: 15%;
    display: block;
    margin: 0 auto;
    z-index: 1;
}

.curved_star {
    position: absolute;
    bottom: -50px;
    left: 0px;
    display: block;
    margin: 0 auto;
    max-width: 15%
}

.purple_stars {
    position: absolute;
    bottom: -67px;
    right: -20px;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 22%;
}

.starry_sky {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 95%;
    scale: 1.05;
    margin: 0;
    z-index: -1;
    color: alpha(0.1);
}

.pinkie {
    position: absolute;
    top: 250px;
    right: 100px;
    display: block;
    margin: 0;
    max-width: 20%;
    z-index: 1;
}

.fluttershy {
    position: absolute;
    top: 270px;
    left: 100px;
    display: block;
    margin: 0;
    max-width: 23%;
    z-index: 1;
}

p, li {
    line-height: 30px;
    letter-spacing: .5px;
    color: #fff;
}

a {
    color: pink;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: underline;
}

.pinkie_site {
    position: absolute;
    display: grid;
    margin: 0;
    left: 1100px;
}

.fluttershy_site {
    position: absolute;
    display: grid;
    margin: 0;
    right: 1100px;
}

ul {
    display: block;
    position: relative;
    padding-left: 10px;
    list-style-type: none;
}

